.coverSection {
  /* border: solid 2px blue; */
  display: flex;
  width: 85%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.mobileCover {
  /* width: 30rem; */
  width: 100%;
  max-width: 35rem;
}

.desktopCover {
  /* width: 70rem; */
  width: 100%;
  max-width: 100rem;
}