.coverSection {
  display: flex;
  width: 85%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 1% 0;
}

.mobileCover {
  width: 100%;
  max-width: 30rem;
  margin-top: 130px;
  transition-duration: 0.3s;
  animation-duration: 1s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.desktopCover {
  width: 90%;
  max-width: 210rem;
  margin-top: 150px;
  margin-right: 5.5%;
  transition-duration: 0.3s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}