.coverSection {
  display: flex;
  width: 85%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.mobileCover {
  width: 100%;
  max-width: 28rem;
  margin-top: 150px;
  margin-bottom: 5%;
  transition-duration: 0.3s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromTop;
}

.desktopCover {
  width: 100%;
  max-width: 130rem;
  margin-top: 230px;
  margin-bottom: 2%;
  transition-duration: 0.3s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromTop;
}