.careersPageHeader {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 1% 0;
}

.careersPageHeader a {
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.ngLogo {
  width: 160px;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}

.linkedinLogo {
  width: 50px;
  margin-right: 25px;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}