.joinNgBtn {
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.6rem;
  font-weight: 500;
  padding: 2% 0;
}

.joinNgBtn:hover {
  background-color: var(--green);
  color: var(--black);
}