.newsSection {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.newsSectionWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
}

.newsSectionWrapper::before, .newsSectionWrapper::after {
  content: '';
}

.newsSectionWrapper a {
  display: flex;
  margin: 1% 2%;
  padding: 2% 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.newsIconsMobile{
  max-width: 7rem;
  transition-duration: 0.3s;
  margin: 20% 0;
}

.newsIconsDesktop {
  max-width: 15rem;
  transition-duration: 0.3s;
}

.newsBillboard {
  width: 100%;
  max-height: 40px;
}