.secondCoverSection {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  width: 100%;
}

.secondCoverSection div {
  background-color: var(--green);
  display: flex;
  width: 85%;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.mobileSecondCover {
  width: 100%;
  max-width: 31rem;
  transition-duration: 0.3s;
  margin: 8% 0;
}

.desktopSecondCover {
  width: 100%;
  max-width: 100rem;
  transition-duration: 0.3s;
  margin: 4% 0;
}