.secondCoverSection {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  width: 100%;
}

.secondCoverSection div {
  background-color: var(--green);
  display: flex;
  width: 85%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 3%;
}

.mobileSecondCover {
  width: 100%;
  max-width: 35rem;
}

.desktopSecondCover {
  width: 100%;
  max-width: 100rem;
}