@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--black);
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

:root {
  --black: #000000;
}
